.advantages {
  padding-left: 49px;

  &--supply {
    padding-left: 24px;
  }
}

.advantages__title {
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  line-height: 1.32;
  color: $basic-white;
}

.advantages__list {
  @include list-none;

  display: grid;
  row-gap: 16px;
  padding-top: 22px;

  &--supply {
    row-gap: 19px;
    width: 211px;
    padding-top: 15px;
  }
}

.advantages__item {
  position: relative;
  font-size: 17px;
  line-height: 1.32;
  color: $basic-white;

  &::before {
    @include pseudo;

    left: -28px;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
  }

  &--blue {
    &::before {
      left: -30px;
      top: -2px;
      background-image: url("../../img/icon-check-blue.png");
    }
  }

  &--orange {
    &::before {
      background-image: url("../../img/icon-check-orange.png");
    }
  }
}
