.button {
  display: block;
  min-height: 54px;
  width: 185px;
  padding: 0 31px;
  padding-top: 13px;
  padding-bottom: 10px;
  font-size: 20.5px;
  font-weight: 500;
  color: $basic-white;
  border-radius: 10px;
  border: none;
  box-shadow: 1.4px 9.9px 9px 0 rgba(0, 0, 0, 0.11);
  background-color: $special-blue;
}
