.contacts {
  display: grid;
  grid-template-columns: auto;

  @media (max-width: $mobile-width-only) {
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 1fr;

    &--steps {
      grid-template-columns: auto;
    }

    &--footer {
      grid-template-columns: auto 1fr;
      column-gap: 67px;
    }
  }
}

.contacts__link {
  font-size: 30px;
  line-height: 15px;
  color: $basic-white;

  @media (max-width: $mobile-width-only) {
    text-align: center;
  }

  &--email {
    padding-top: 30px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 25px;
    &--email {
      justify-self: end;
      padding-top: 9px;
      font-size: 20px;
    }
  }
}

.contacts__text {
  margin: 0;
  font-size: 19.5px;

  letter-spacing: -0.2px;
  text-align: center;
  color: $special-gray;

  @media (min-width: $desktop-width) {
    padding-top: 8px;
    padding-left: 16px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;

  &--footer {
    justify-content: start;
  }
}

.contacts__item {
  &:not(:last-child) {
    padding-right: 15px;
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      padding-right: 28px;
    }

    &--viber {
      padding-right: 31px;
      padding-top: 5px;
    }

    &--whatsapp {
      padding-right: 26px;
    }

    &--mail {
      padding-right: 28px;
    }
  }
}

.contacts__list {
  @include list-none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &--footer {
    margin: 0 auto;
    @media (min-width: $desktop-width) {
      margin: 0;
      align-items: flex-start;
    }

    & .contacts__item {
      &--viber {
        padding-right: 22px;
      }

      &--whatsapp {
        padding-top: 6px;
        padding-right: 21px;
      }

      &--mail {
        padding-top: 6px;
        padding-right: 22px;
      }

      &--phone {
        padding-top: 3px;
      }
    }
  }
}

.contacts__link {
  display: block;
}
