.deliveries__wrapper {
  border: 1px solid $special-gray-dark-3;
  border-radius: 10px;
  padding: 15px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content) 1fr;
    min-height: 736px;
    padding: 0;
    padding-left: 31px;
  }
}

.deliveries__title {
  padding-bottom: 24px;
  text-align: center;

  @media (min-width: $desktop-width) {
    padding-top: 49px;
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: left;
  }
}

.deliveries__text {
  margin: 0;
  padding-bottom: 15px;
  font-size: 17px;
  line-height: 1.32;

  &--distance {
    font-size: 19.5px;
    font-weight: 500;
    line-height: 1.54;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 694px;
    padding-bottom: 64px;

    &--distance {
      position: relative;
      grid-row: 3/4;
      padding-bottom: 51px;
      padding-left: 35px;
      font-size: 19.5px;
      font-weight: 500;
      line-height: 1.54;
      text-align: left;

      &::before {
        @include pseudo;

        top: -24px;
        left: -2px;
        width: 364px;
        height: 123px;
        background-image: url("../../img/icon-cloud.png");
        z-index: -1;
      }
    }
  }
}

.deliveries__img {
  display: none;

  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    grid-row: 1/5;
    justify-self: end;
    align-self: end;
    display: block;
    z-index: -2;
  }
}

.deliveries__list {
  @include list-none;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (min-width: $desktop-width) {
    grid-column: 1/2;
    grid-row: 4/5;
    display: block;
    padding-left: 35px;
  }
}

.deliveries__item {
  font-size: 17px;
  line-height: 1.48;
}
