.faq__list {
  @include list-none;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  padding-top: 49px;

  @media (min-width: $desktop-width) {
    height: 570px;
  }
}

.faq__item {
  border: solid 2px $special-yelow-light;
  border-radius: 10px;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    width: 533px;

    &:nth-child(odd) {
      margin-bottom: 40px;
    }
  }
}

.faq__question {
  margin: 0;
  padding-right: 29px;
  padding-left: 29px;
  padding-top: 15px;
  padding-bottom: 17px;
  font-size: 23.5px;
  font-weight: 500;
  line-height: 1.28;
  background-color: $special-yelow-light;
}

.faq__answer {
  margin: 0;
  padding-right: 29px;
  padding-left: 29px;
  padding-top: 14px;
  padding-bottom: 21px;
  font-size: 17px;
  line-height: 1.32;
}

.faq__link {
  display: inline-block;
  padding-bottom: 7px;
  font-size: 18.5px;
  line-height: 1.22;
  color: $special-red;
  border-bottom: 1px dashed $special-red;
}
