.note__wrapper {
  display: grid;
  padding: 15px;
  background-color: $special-blue-dark;
  border: 1px solid $special-gray-light;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    grid-template-columns: auto 1fr;
    column-gap: 25px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    column-gap: 52px;
    padding-right: 127px;
  }
}

.note__text {
  margin: 0;
  font-size: 17.5px;
  font-style: italic;
  line-height: 1.39;
  letter-spacing: 0.2px;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    align-self: center;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17.5px;
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    font-size: 19.5px;
    padding-top: 42px;
    padding-bottom: 40px;
  }
}

.note__img {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
