.order {
  display: grid;

  row-gap: 24px;
  column-gap: 30px;

  @media (min-width: $desktop-width) {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
  }
}

.order__title {
  font-size: 25px;
  line-height: 1.16;
}

.order__form {
  display: grid;
  row-gap: 19px;

  @media (min-width: $desktop-width) {
    grid-row: 2/3;
    grid-template-columns: 371px 231px auto;
    column-gap: 19px;
  }
}

.order__input {
  height: 54px;
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 20.5px;
  line-height: 1.41;
  color: $special-blue-mid-3;
  border: none;
  border-radius: 10px;

  &::placeholder {
    font-family: "Ubuntu", "Tahoma", sans-serif;
    font-size: 20.5px;

    color: $special-blue-mid-3;
  }
}

.order__button {
  margin-bottom: auto;
}

.order__desc {
  margin: 0;
  width: 230px;
  font-size: 11px;
  line-height: 1.36;
  color: $special-blue-mid-2;

  @media (min-width: $desktop-width) {
    grid-row: 2/3;
  }
}
