.page-header {
  background: linear-gradient(to bottom, $basic-black 0%, $special-blue-dark 100%);

  @media (min-width: $desktop-width) {
    min-height: 814px;
    padding-top: 33px;
    box-shadow: 0 0 50px 40px transparentize($basic-black, 0.6);
  }
}

.page-header__wrapper {
  display: grid;

  @media (min-width: $desktop-width) {
    grid-template-columns: auto 1fr;
    gap: 75px;
    padding: 0 84px;
  }
}

.page-header__special {
  @media (min-width: $desktop-width) {
    padding-left: 84px;
  }
}
