.page-main {
  @media (min-width: $desktop-width) {
    position: relative;
    top: -235px;
  }
}

.page-main__steps {
  padding: 0 85px;
  padding-top: 85px;
  padding-bottom: 96px;
}

.page-main__deliviries {
  padding-right: 56px;
  padding-bottom: 80px;
}
