.page-footer {
  padding-top: 51px;
  background-color: $special-blue-light;
}

.page-footer__wrapper {
  background-color: $special-blue-dark;
  padding-bottom: 13px;
}

.page-footer__inner {
  padding-top: 30px;
}

.page-footer__partners {
  padding-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .page-footer__inner {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 73px;
    row-gap: 25px;
  }

  .page-footer__copyright {
    grid-row: 2/3;
    grid-column: 1/-1;
    align-self: end;
  }

  .page-footer__contacts {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
  }

  .page-footer__made {
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: end;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__order {
    padding: 0 85px;
  }

  .page-footer__partners {
    padding: 0 170px;
    padding-top: 42px;
    padding-bottom: 20px;
  }

  .page-footer__inner {
    display: grid;
    grid-template-columns: min-content repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 73px;
    row-gap: 21px;
    padding: 0 85px;
    padding-top: 41px;
  }

  .page-footer__copyright {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .page-footer__made {
    grid-row: auto;
    grid-column: auto;
    justify-self: auto;
    padding-left: 62px;
    padding-top: 6px;
  }

  .page-footer__contacts {
    grid-row: auto;
    grid-column: auto;
    align-self: auto;
  }
}
