.services__list {
  @include list-none;

  display: grid;
  gap: 15px;

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content;
  }

  &--preview {
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 61px;
  }
}

.services__item {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 28px;
  min-height: 426px;
  padding-left: 32px;
  border: solid 1px $special-gray-light;
  border-radius: 10px;

  &--preview {
    position: relative;
    display: block;
    min-height: auto;
    padding-top: 53px;
    padding-bottom: 32px;
    padding-left: 29px;
    padding-right: 20px;
    background-color: $basic-white;
    border-radius: 10px;
    box-shadow: 1.4px 9.9px 9px 0 transparentize($basic-black, 0.89);
    z-index: 10;

    &::before {
      @include pseudo;

      top: -65px;
      width: 102px;
      height: 102px;
      background-color: $special-red;
      border-radius: 50%;
      border: solid 2px $basic-white;
    }
  }

  &--privat {
    &::before {
      background-image: url("../../img/icon-truck.png");
      background-position: center 20px;
      background-repeat: no-repeat;
    }
  }

  &--industrial {
    &::before {
      background-image: url("../../img/icon-industrial.png");
      background-position: center 20px;
      background-repeat: no-repeat;
    }
  }

  &--refueling {
    &::before {
      background-image: url("../../img/icon-refueling.png");
      background-position: center 25px;
      background-repeat: no-repeat;
    }
  }

  &--supply {
    &::before {
      background-image: url("../../img/icon-truck.png");
      background-position: 50px 20px;
      background-repeat: repeat-x;
    }
  }

  &--wide {
    grid-column: 1/-1;
  }

  &--red {
    background-color: $special-red-dark;
  }

  &--blue {
    background-color: $special-blue-mid;
  }

  &--yelow {
    background-color: $special-yelow;
  }

  &--gray {
    background-color: $special-gray-dark;
  }
}

.services__inner {
  padding-top: 46px;

  &--amount {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 17px;
    padding-top: 42px;
  }
}

.services__title {
  margin: 0;
  color: $basic-white;
  padding-bottom: 29px;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.15;
  }

  &--preview {
    font-size: 21.5px;
    font-weight: 500;
    line-height: 1.35;
    color: $basic-black;
  }
}

.services__text {
  margin: 0;
  color: $basic-white;

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 1.32;
  }

  &--preview {
    padding-top: 23px;
    font-size: 17px;
    line-height: 1.32;
    color: $basic-black;
  }
}

.services__img {
  display: block;

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    grid-row: 1/-1;
    align-self: center;
  }
}

.services__desc {
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 17px;
    line-height: 1.32;
    color: $special-pink;
    align-self: center;

    &--amount {
      font-size: 49.5px;
      font-weight: 500;
      line-height: 49px;
    }
  }
}
