.steps {
  display: flex;
  flex-direction: column;
}

.steps__title {
  text-align: center;
  padding-bottom: 52px;
}

.steps__list {
  @include list-none;

  display: grid;
  grid-template-columns: 1fr 322px 1fr;
  column-gap: 100px;
}

.steps__item {
  position: relative;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, min-content);
  column-gap: 15px;

  &:not(:last-child) {
    &::before {
      @include pseudo;

      top: 50%;
      left: 100%;
      width: 19px;
      height: 34px;
      margin-top: -17px;
      margin-left: 50px;
      background-image: url("../../img/icon-arrow.png");
    }
  }

  &--refueling {
    padding-left: 25px;
  }

  &--smile {
    padding-left: 17px;
  }
}

.steps__img {
  grid-row: 1/-1;
  display: block;
}

.steps__subtitle {
  align-self: end;
  margin: 0;
  padding-bottom: 6px;
  font-size: 22.5px;
  font-weight: 500;
  line-height: 1.11;
}

.steps__text {
  margin: 0;
  font-size: 17px;
  line-height: 1.32;
}

.steps__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 0 auto;
  padding-top: 70px;
}

.steps__cotacts {
  padding-left: 31px;
}

.steps__button {
  align-self: start;
}
