/* Viewports */

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;

/* Color */
$basic-black: #000000;
$basic-white: #ffffff;

$special-blue-dark: #0c1c30;
$special-gray: #d6d6d6;
