/* Viewports */

$tablet-width: 768px;
$desktop-width: 1280px;
$mobile-width-only: 767px;

/* Color */
$basic-black: #000000;
$basic-white: #ffffff;

$special-blue-dark: #0c1c30;
$special-blue: #117dff;
$special-blue-mid: #5a7294;
$special-blue-light: #e8f2fe;
$special-gray-dark: #7f7f7f;
$special-gray-dark-2: #5b5b5b;
$special-gray-dark-3: #a1a1a1;
$special-gray: #d6d6d6;
$special-gray-light: #dddddd;
$special-gray-light-2: #cbcbcb;
$special-red-dark: #ac2f37;
$special-red: #f03023;
$special-pink: #efb3b7;
$special-yelow: #b79141;
